* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    background-color: #EEE8D5;
    color: #859900;
    font-family: monospace;
    font-size: 14px;
}

body,html {
    height: 100%;
    min-width: 320px;
}

h1 {
    font-size: 32px;
    margin-bottom: 22px;
}
p {
    margin-bottom: 15px;
}

.calc-verion-info {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    letter-spacing: 1px;
    text-decoration: none;
    position: absolute;
    top: 5px;
    z-index: 1;
}

#calc {
    height: 100%;
    display: grid;
    grid-template-rows: minmax(30px, .5fr) min-content minmax(200px, 5fr);
    grid-template-columns: 1fr;
}

.skin-switch,
.display-result
{
    margin-left: 40px;
    margin-right: 40px;
}

/* skin-switch */
.skin-switch {
    display: flex;
}

.skin-switch__btn {
    width: 50px;
    height: 100%;
    border: none;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    display: inline-block;
}

.skin-switch__btn-light {
    background: linear-gradient(#E4E4EB, #BEBFC4);
    border-bottom-color: #E0E0E0;
    margin-left: 40px;
    
}
.skin-switch__btn-dark {
    background: linear-gradient(#676870, #3B3B40);
    border-bottom-color: #1F1F1F;
}
.skin-switch__btn-nephrite {
    background: linear-gradient(#39A85B, #00611D);
    border-bottom-color: #003D12;
}
/* skin-switch */

/* display-result */
.display-result {
    display: flex;
    justify-content: center;
}

.group-display-result {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.display-result__input {
    width: 100%;
    border-width: 4px;
    border-style: solid;
    border-radius: 6px;
    font-size: 80px;
    color: #666;
    text-align: right;
    padding-right: 3vw;
}

.display-result__notice {
    color: #BCBDC2;
    text-align: right;
    font-size: 40px;
    margin-right: 4vw;
}
/* display-result */

/* buttons-panel */
.buttons-panel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.btn span {z-index: 1;}

.btn::after {
    content: "";
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    display: block;
    border-radius: 6px;
    margin: auto;
    position: absolute;
    top: 0;right: 0;
    bottom: 0;left: 0;
    z-index: 0;
}

.btn-zer {
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: span 2;
}

.btn-execute {
    grid-row-start: 3;
    grid-row-end: span 3;
    grid-column-start: 4;
    grid-column-end: span 1;
}
/* buttons-panel */

/* skin-light */
.skin-light {
    background-color: #EDEDF0;
    color: #919194;
}

.skin-light .btn::after {
    border: 4px solid #CBCED1;
    background-color: #FAFAFC;
}

.skin-light .btn:hover::after {
    background-color: #D6F5FF;
    border-color: #ABEAFF;
}

.skin-light .btn:active::after {
    background-color: #FFD6D6;
    border-color: #FFA3A3;
}

.skin-light .display-result__input {
    background-color: #D5D6DB;
    border: 4px solid #BCBDC2;
}
.skin-light .display-result__input::placeholder {
    color: #A3A4A8;
}

.skin-light .display-result__notice,
.skin-light a {
    color: #0099CC;
}
/* skin-light */

/* skin-dark */
.skin-dark {
    background-color: #1F1F1F;
    color: #BEBFC4;
}

.skin-dark .btn::after {
    border: 4px solid #4B4B52;
    background-color: #3B3B40;
}

.skin-dark .btn:hover::after {
    background-color: #422C2F;
    border-color: #523739;
}

.skin-dark .btn:active::after {
    background-color: #394E35;
    border-color: #496344;
}

.skin-dark .display-result__input {
    background-color: #D5D6DB;
    border-color: #77777A;
}
.skin-dark .display-result__input::placeholder {
    color: #A3A4A8;
}

.skin-dark .display-result__notice,
.skin-dark a {
    color: #60E746;
}
/* skin-dark */

/* skin-nephrite */
.skin-nephrite {
    background-color: #00611D;
    color: #F5C528;
}

.skin-nephrite .btn::after {
    border: 4px solid #007D13;
    background-color: #3EAA56;
}

.skin-nephrite .btn:hover::after {
    background-color: #6DCC3D;
    border-color: #00B01A;
}

.skin-nephrite .btn:active::after {
    background-color: #9DF571;
    border-color: #83CC5E;
}

.skin-nephrite .display-result__input {
    color: #3EAA56;
    border-color: #3EAA56;
    background-color: #C9FFC1;
}
.skin-nephrite .display-result__input::placeholder {
    color: #84DB76;
}

.skin-nephrite .display-result__notice {
    color: #F5C528;
}

.skin-nephrite a {
    color: #FFEEAC;
}
/* skin-nephrite */

/* === RESPONSIVE === */
/* 768px */
@media (max-width: 769px){
    .skin-switch,
    .display-result
    {
        margin-left: 20px;
        margin-right: 20px;
    }

    .display-result__input {
        font-size: 9vw;
    }
    .display-result__notice {
        font-size: 5vw;
    }
}
/* 768px */

/* 480px */
@media (max-width: 481px){
    .calc-verion-info{
        width: 15px;
        height: 15px;
        background-color: #FF865C;
        display: block;
        font-size: 0;
        border-radius: 50%;
    }

    .skin-switch,
    .display-result
    {
        margin-left: 7px;
        margin-right: 7px;
    }

    .display-result__input {
        font-size: 32px;
    }
    .display-result__notice {
        font-size: 22px;
    }
}
/* 480px */