* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    background-color: #EEE8D5;
    color: #859900;
    font-family: monospace;
    font-size: 14px;
}

body,html {
    height: 100%;
}

h1 {
    font-size: 32px;
    margin-bottom: 22px;
}
p {
    margin-bottom: 15px;
}

.code-fragment {
    background-color: #D4DDAF;
    padding: 10px 25px;
    margin: 15px 0;
    display: inline-block;
}

#calc {
    width: 100%;
    height: 100%;
    font-family: math, coursive;
}

.calc-wraper {
    height: 100%;
    margin: 0 60px;
    position: relative;
}

.monitor-block {
    height: 25%;
}

.container {
    max-width: 900px;
    margin: auto;
    background-color: #FDF6E3;
}

.container-margins {
    padding: 45px 25px;
}

.display-result {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.skin-switch {
    margin-left: 50px;
    flex: 1 0 auto;
    font-size: 0;
}
.skin-switch__btn {
    width: 50px;
    height: 100%;
    border: none;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    display: inline-block;
}

.skin-switch__btn-light {
    background: linear-gradient(#E4E4EB, #BEBFC4);
    border-bottom-color: #E0E0E0;
    
}
.skin-switch__btn-dark {
    background: linear-gradient(#676870, #3B3B40);
    border-bottom-color: #1F1F1F;
}
.skin-switch__btn-nephrite {
    background: linear-gradient(#39A85B, #00611D);
    border-bottom-color: #003D12;
}

.display-result__input {
    width: calc(100% - 10px);
    display: flex;
    align-self: center;
    align-items: end;
    justify-content: end;
    border-width: 4px;
    border-style: solid;
    border-radius: 6px;
    font-size: 75px;
    font-weight: bold;
    color: #666;
    font-family: inherit;
    text-align: right;
    padding-left: 2%;
    padding-right: 2%;
}
.display-result__notice {
    color: #BCBDC2;
    text-align: right;
    font-size: 40px;
    margin-right: 40px;
}

.calc-ver-menu {
    margin: auto;
    list-style: none;
    position: fixed;
    top: 10px;
    left: 5px;
    z-index: 2;
}
.calc-ver-menu__link {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    letter-spacing: 1px;
    text-decoration: none;
}

.buttons-panel {
    height: 75%;
}

.row {
    width: 100%;
    height: 20%;
    font-size: 0;
    text-align: left;
}

.row-3,
.row-4,
.row-5 {
    width: 75%;
}

.btn {
    width: 33.3333%;
    height: 100%;
    display: inline-block;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    position: relative;
}

.btn::after {
    content: "";
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    display: block;
    border-radius: 6px;
    margin: auto;
    position: absolute;
    top: 0;right: 0;
    bottom: 0;left: 0;
    z-index: 0;
}

.row-1 .btn,
.row-2 .btn
{width: 25%;}

.btn-zer {width: 66.666%;}

.btn span {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 2px #fff, 0 -2px #666;
    position: relative;
    z-index: 1;
}

.btn-execute {
    width: 25%;
    height: 60%;
    position: absolute;
    bottom: 0;
    right: 0;
}
/* skin-light */
.skin-light {
    background-color: #EDEDF0;
    color: #919194;
}

.skin-light .btn::after {
    border: 4px solid #CBCED1;
    background-color: #FAFAFC;
}

.skin-light .btn:hover::after {
    background-color: #D6F5FF;
    border-color: #ABEAFF;
}

.skin-light .btn:active::after {
    background-color: #FFD6D6;
    border-color: #FFA3A3;
}

.skin-light .display-result__input {
    background-color: #D5D6DB;
    border: 4px solid #BCBDC2;
}
.skin-light .display-result__input::placeholder {
    color: #A3A4A8;
}

.skin-light .display-result__notice,
.skin-light a {
    color: #0099CC;
}
/* skin-light */

/* skin-dark */
.skin-dark {
    background-color: #1F1F1F;
    color: #BEBFC4;
}

.skin-dark .btn::after {
    border: 4px solid #4B4B52;
    background-color: #3B3B40;
}

.skin-dark .btn:hover::after {
    background-color: #422C2F;
    border-color: #523739;
}

.skin-dark .btn:active::after {
    background-color: #394E35;
    border-color: #496344;
}

.skin-dark .display-result__input {
    background-color: #D5D6DB;
    border-color: #77777A;
}
.skin-dark .display-result__input::placeholder {
    color: #A3A4A8;
}

.skin-dark .display-result__notice,
.skin-dark a {
    color: #60E746;
}
/* skin-dark */

/* skin-nephrite */
.skin-nephrite {
    background-color: #00611D;
    color: #F5C528;
}

.skin-nephrite .btn::after {
    border: 4px solid #007D13;
    background-color: #3EAA56;
}

.skin-nephrite .btn:hover::after {
    background-color: #6DCC3D;
    border-color: #00B01A;
}

.skin-nephrite .btn:active::after {
    background-color: #9DF571;
    border-color: #83CC5E;
}

.skin-nephrite .display-result__input {
    color: #3EAA56;
    border-color: #3EAA56;
    background-color: #C9FFC1;
}
.skin-nephrite .display-result__input::placeholder {
    color: #84DB76;
}

.skin-nephrite .display-result__notice {
    color: #F5C528;
}

.skin-nephrite a {
    color: #FFEEAC;
}
/* skin-nephrite */

/* TABLET 768px */
@media (max-width: 769px){
    .calc-wraper {
        margin: 0 20px;
    }

    .display-result__input {
        font-size: 52px;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .display-result__notice {
        font-size: 30px;
        margin-right: 4%;
    }

    .btn {font-size: 48px;}
}
/* TABLET 768px */

/* MOB-L 425px */
@media (max-width: 426px){
    .skin-switch {margin-left: 12px;}
    .display-result__input {font-size: 44px;}
    .btn {font-size: 36px;}
}
/* MOB-L 425px */

/* MOB 320px */
@media (max-width: 321px){
    .calc-wraper {margin: 0;}

    .calc-ver-menu {
        top: 5px;
        left: auto;
        right: 5px;
    }
    .calc-ver-menu__link {
        font-size: 12px;
        writing-mode: inherit;
        transform: none;
    }
    .display-result__input {
        font-size: 32px;
        padding-top: 4%;
        padding-bottom: 4%;
    }
    .display-result__notice {
        font-size: 20px;
        margin-right: 5%;
    }
}
/* MOB 320px */